{% extends "loyout.html" %}
{% block head %}
{{ super() }}
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock head %}
{% block content %}
<main class="form-signin">
  <form method="post">
    <img class="mb-4" src="/static/img/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="reg_email">
      <label for="floatingInput" style="color:gray">Email address</label>
    </div>
    </br>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="reg_password">
      <label for="floatingPassword" style="color:gray">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" name="reg_remember"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
</main>
{% endblock content %}